@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --lead:#212121;
    --gold-finger:#F2BD12;
    --eye-ball:#FFFDF7;
    --hint-yellow:#FCF1CC;
    --pure-white:#FFF;
}
body{
    background: var(--eye-ball);
}
/* BASIC STYLEING */
a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}
.flex{
    display:flex ;
    align-items: center;
}
li{
  list-style: none;  
}
.between{
    justify-content:space-between ;

}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;

}
.wrapper{
    max-width:1400px ;
    margin: auto;
    padding-inline:1.5rem ;

}
/* HEDER STYLEING */
.navbar{
    min-height: 14vh;
}

.logo{
    font-size:2rem ;
    font-weight: bold;
    color: var(--gold-finger);
}

.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius:  1rem; 
    font: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgb(0, 0, 0,0.1) 0 2px 1px;
}
.btn:hover{
    background: var(--lead);

}

.Cart-icon{
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}
.Cart-icon .Cart-value{
    position:absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    list-style: 20px;
}
.desktop-action .hamburger{
    font-size:1.5rem ;
    display: none;
}

.mobile-menu{
    display: none;
}

/* SECTION STYLING */
.hero-section{
    background: gold;
    min-height: calc(100vh -14vh);
}


/* FOOTER STYLING */
















/* MEDIA QUERIES */
@media screen and (max-width:780px){
.navlist .desktop-action .btn{
    display: none;
}

.desktop-action .hemburger{
    display: block;
}

.mobile-menu{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: 100%;
    transform: translate(-50%);
    width: 20rem;
    padding:2rem;
    background: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: rgba(0,0,0,0.05)8px 8px 8px,
    rgba(0,0,0,0.05)8px 8px 8px inset;
    transition:all .5s ease-in-out ;
}
.mobile-menu-active{
    left:50%;
    transform: translateX();
}
}